.change-password-btn {
  background-color: #91a901 !important;
  color: #fff !important;
}

/* media quary */

@media (max-width: 768px) {
  .password-input-style {
    font-size: 15px !important;
  }
  .css-13rfrrh {
    margin-top: 10px;
  }
}

@media (max-width: 640px) {
  .password-input-style {
    font-size: 15px !important;
  }
  .css-13rfrrh {
    margin-top: 10px !important;
  }
}
